@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Lobster+Two&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Signika+Negative&display=swap');
    
* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'Lobster Two', cursive;
    font-weight: 300;
    color: #2d2b42
}

/* Header - Logos and Headings */

#navbar {
    background-color: #2d2b42;
}

h1, h2 { 
    font-family: 'Lobster', cursive;
    color: #ffffff;
}

p {
    font-family: 'Signika Negative', sans-serif;
    color: #2d2b42;
}

#logo {
    font-size: 320%;
    letter-spacing: 2px;
    margin-left: 50px;
    padding-top: 25px;
    display: inline-block;
    text-decoration: none;
    color: #ffffff;
}

#nav-menu {
    float: right;
    margin-bottom: 0;
    text-decoration: none;
    border-bottom: none;
}

li {
    list-style: none;
    display: inline-block;
    font-size: 140%;
    padding-right: 50px;
    padding-top: 25px;
    text-decoration: none;
    color:#ffffff;
    letter-spacing: 2px;
}

#logo, #nav-menu {
    line-height: 75px;
    color: #ffffff;
    padding-bottom: 10px;
}

a:link {
    color: inherit;
    text-decoration: none;
}

a:visited {
    color: #2d2b42;
}

a:hover {
    color: #2d2b42;
    }

.grow {
        transition: all .2s ease-in-out; 
    }
    
.grow:hover { 
    transform: scale(1.1); 
    }    

a:active {
        color: #2d2b42;
        border-bottom: 1px solid #2d2b42;
        text-decoration: underline;
    }



/* Hero Image Section */

#hero-container {
    height: 600px;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    
}

.hero-flex-container {
    display: flex;
}

.herolink {
    display: inline-block;
    width: 50%;
    height: 600px;
}

#hero-image {
    height: 600px;
    width: 600px;
    background: url(../gallery/pexels-mica-asato-1198174.jpg);
    background-size: cover;
    border-radius: 50%;
    margin-left: 75px;
    
    
}

#about-us {
    height: 600px;
    width: 50%;
    
    text-align: right;   
}

.blurb1 {
    margin-right: 75px; 
    font-size: 250%;  
    margin-left: 75px;
    margin-top: 100px;
}

.blurb2 {
    margin-right: 75px;
    font-size: 250%;
    margin-left: 75px;
    margin-top: 75px;
}


/* About Us Section */

#about-us-expanded {
    height: 600px;
    width: 100%;
    padding-top: 75px;
    padding-bottom: 75px;
    background-color: #2d2b42;
}

#about-us-expanded > h2 {
    color: #ffffff;
    font-size: 50px;
    margin-left: 75px;
}

#what-we-do-container {
    display: flex;
}

#what-we-do {
    height: 600px;
    width: 50%;
    
}

#what-we-do > p {
    font-size: 175%;
    margin-left: 75px;
    padding-top: 50px;
    color: #ffffff;
}

#swimmers {
    height: 525px;
    width: 50%;
    
    overflow: hidden;

}

#swimmer-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
    padding-left: 75px;
    
}

/* Vacancies Section */

/* Abandoning this attempt at styling divs and switching to grid layout

#vacancies {
    height: 600px;
    width: 100%;
    background-color: #2b0101;
}

#vacancy-div {
    height: 600px;
    width: 100%;
    display:inline-block;
}

.sport-options {
    height: 300px;
    width: 33%;
}

.sport-image {
    height: 100%;
    width: 100%;
    object-fit: contain;
}

*/

/* Vacancies Section 2nd Attempt */

#vacancies {
    height: 950px;
    width: 100%;
    margin-top: 25px;
    
}

#vacancies-heading {
    color: #2d2b42;
    padding-top: 50px;
    padding-left: 75px;
    padding-bottom: 50px;
    font-size: 50px;
}



.grid-container {
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: relative;
    z-index: 5;
    
   
}

.grid-item {
    background-color: black;
    object-fit: cover;
    overflow:hidden;
    box-sizing: border-box;
    margin: 25px;
    
       
}



.nested-container {
    height: 800px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    position: absolute;
    z-index: 100;
    
}

.grid-item2 {
   
    margin: 25px;
    text-align: center;
   
    
}



.grid-image {
    max-width: 130%;
    min-height: 100%;
    opacity: 0.5;
    }

    .p1 {
       margin-top: 25%;
       font-size: 35px;
       color: white;
       line-height: 2em;
       
    }

    .p2 {
        margin-top: 15%;
        font-size: 35px;
        color: white;
        line-height: 2em;  
        
    }

    /* Footer */

    #footer {
        height: 110px;
        width: 100%;
        margin-top: 50px;
        margin-bottom: 25px;
    }

    #footer > ul {
        list-style: none;
        display: inline-block;
        
        
    }

    i {
        padding-left: 75px;
        padding-right: 75px;
        color: #2d2b42;
    }

    .footerdiv {
        text-align: center;
        font-size: 25px;
        color: #2d2b42;
    }
        
    /* Available Sports Page */

    #available-sports {
        height: 600px;
        width: 100%;
        padding-top: 75px;
        padding-bottom: 75px;
        background-color: #ffffff;
    }

    .available-sports-container {
        display: flex;
    }
    
    #what-we-offer > h2 {
        color: #2d2b42;
        font-size: 50px;
        margin-left: 75px;
    }
    
    #what-we-offer {
        height: 600px;
        width: 50%;
    }
    
    #what-we-offer> p {
        font-size: 175%;
        margin-left: 75px;
        padding-top: 100px;
        color: #2d2b42;
    }
    
    #soccerman {
        height: 525px;
        width: 50%;
        overflow: hidden;
    
    }
    
    #soccerman-image {
        height: 100%;
        width: 100%;
        object-fit: contain;
        padding-left: 75px;
        
    }

    hr {
        height: 5px;
        background-color: #2d2b42;
        margin-top: 200px;
        margin-left: 75px;
    }

#available-sports-flex-container {
    height: auto;
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    row-gap: 25px;
    column-gap: 25px;

}

.available-sport-text {
    height: 400px;
    width: 40%;
    background-color: green;
}

.available-sport-image {
    height: 400px;
    width: 40%;
    
}

.sport-div-img {
    height: 100%;
    width: 100%;
    object-fit: contain;
}



    

    
    
